<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>TempHum</title>
<base target="_blank" />
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style type="text/css" rel="stylesheet">
body {
	background-color: black;
	color: white;
	font-size: 25px;
	font-family: "Consolas";
	margin: 20px;
}
</style>
</head>
<body>
	<pre>
me http api 接口：
https://yibuwulianwang.com:8443/iot/mqtt/publish/json
emqtt http api
https://yibuwulianwang.com:8443/iot/api/publish/json

授权类型 response_type
code

授权地址
URL:https://yibuwulianwang.com:8443/iot/oauthserver/getOAuthorizationCode

客户端ID
Client_Id:e85ca381-0df7-4c94-ab8a-a40bfbf401d2

权限 Scope
basic email

回调地址
URL:https://xiaodu.baidu.com/saiya/auth/159a0b013a7aca78639aeb0e952440c4

Token地址
URL:https://yibuwulianwang.com:8443/iot/oauthserver/getAccessToken

请求方式
POST或者 GET

客户端秘钥
ClientSecret
6bd671cf-3502-45b7-9840-64bc9aa74e8a

设备云API
WebService
https://yibuwulianwang.com:8443/iot/api/baidu

显示温湿度
https://yibuwulianwang.com:8443/iot/temphum
https://yibuwulianwang.com:8443/iot/temphum
https://yibuwulianwang.com:8443/iot

获取最新温湿度
https://yibuwulianwang.com:8443/iot/temphum/get/findLast

RESTfull API
https://yibuwulianwang.com:8443/iot/restfulapi/get/19843149841318

EMQTT web管理接口
http://yibuwulianwang.com:18083

</pre>
</body>
</html>